.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.header{
    border: 1px solid #E2E2E2;
    display: flex;
    padding: 10px;
    border-radius: 4px;
}

.header input{
    width: 100%;
    border: 0px;
    outline: none;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    background-color: white;
    max-height: 254px;
    position: absolute;
    width: 100%;
    top: 45px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
}
.user{
    display: flex;
    gap: 10px;
    align-items: center;
}
.user span{
    text-align: center;
    align-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #FFEBEB;
}
.user button {
    margin-left: auto;
    border: 1px solid #E2E2E2;
    border-radius:8px;
    outline: none;
    padding-inline: 30px;
    padding-block: 5px;
}
.selectedUser{
    display: flex;
    padding-inline: 2px;
    background-color: rgb(190, 210, 211);
    gap:10px;
    border: 1px,black,solid;
}
.selectedUser p{
    margin: 0px;
    cursor:default;
}
.selectedUser span{
    color: red;
    cursor: pointer;
}