
.Form {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom:0px ;
}
.Form form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.Form button{
    color: white;
    background: #17A2B8;
    border-radius: 50px;
}

.formField{
    padding: 5px;
    display: flex;
    border: 1px, #D0D0D0 ,solid;
    border-radius: 10px;
}

.TextField {
    width: 100%;
    border: none;
}
.TextField:focus{
    outline: none;
}
.error{
    font-size:small;
    text-align: left;
    color: #DB371F;
}