.cancel{
    border-radius: 1px,solid,#CF3636;
    color: #CF3636;
    background-color: white;
}
.submit{
    background-color: #17A2B8;
    color: white
}
.body{
    display: flex;
    flex-direction: column;
}
.container{width: 335px;}
.header{
    text-align: center;
}