.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-inline: 20px;
}
.header h4{
    margin: 0px;
    color: #707070;
    text-align: end;
}
.subHeading{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.subHeading h2{
    margin: 0px;
}
.AddPeople{
    padding-left: 30px;
    margin-right: auto;
    display: flex;
    color: #707070;
    gap: 5px;
    cursor: pointer;
}
.AddPeople:hover{
    text-decoration: underline;
}
.subHeading select{
    border: none;
}   
.body{
    height: 100%;
    width: 1200px;
    overflow-x: auto;
}