.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-inline: 30px;
}

.header h4{
    margin: 0px;
    color: #707070;
    text-align: end;
}
.subHeading{
    justify-content: space-between;
    display: flex;
}
.subHeading h2{
    margin: 0px;
}
.subHeading select{
    border: none;
}