.container{
    display: flex;
    flex-direction: column;
    gap: .625rem;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}
.header{
    display: flex;
    flex-direction: column;
}
.upperheader{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 38px;
}
.left_upperheader{
    display: flex;
    gap: 10px;
    align-items: center;
}
.left_upperheader p{
    margin: 0px;
}
.left_upperheader span{
    padding: 10px;
    background-color: #FFEBEB;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 1;
}
.left_upperheader div{
    width: 18px;
    height: 18px;
    border-radius:50% ;
}
.Options{
    width: 20px;
    height: 38px;
    margin-left: auto;
    position: relative;
}

.footerButtons{
    background-color: #EEECEC;
    height: 26px;
    font-size: 10px;
}
.DueDate{
    background: #DBDBDB;
    color: black;
    cursor:auto;
}
.greenButton {
    background-color: green;
    color: white;
  }
  
  .redButton {
    background-color:#CF3636;
    color: white;
  }
  
  .silverButton {
    background-color: silver;
    color: black;
  }
  
.footer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.footer div{
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
}