.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
}
.left{
    height: 100%;
    width: 15%;
    box-sizing: border-box;
    border-right: 1px solid #EDF5FE;
    display: flex;
    flex-direction: column;
}
.right{
    flex: 1;
}
.header{
    font-weight: bold;
    font-size:large;
    color: black;
}
.element{
    display: flex;
    gap: 10px;
    text-align: center;
    padding-inline: 20px;
    cursor: pointer;
}
.body>div:hover{
    background-color: #c0c0c04d;
}
.footer{  
    margin-top: auto;
    color: #CF3636;
}
.footer:hover{
    background-color: #B0B0B0;
}